<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments::header"></head>
<body>
    <div class="fluid-content">
    	<nav th:replace="fragments::nav"></nav>
    	<div class="row">
    		<div class="col-12">
    			<form action="/user/register" th:object="${user}" method="POST">
    			
    				<input type="text" th:field="*{email}" th:errorclass="error" placeholder="email">
    				<p  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error_message"/>
    				
    				<input type="password" th:field="*{password}" th:errorclass="error" placeholder="password">
    				<p  th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error_message"/>
    				
    				<input type="password" th:field="*{passwordConfirmation}" th:errorclass="error" placeholder="confirm password">
    				<p  th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="error_message"/>
    				
    				<button type="submit">Login</button>
    			</form>
    		</div>
    	</div>
    </div>
</body>
</html>