<head th:replace="fragments:: header"></head>
<div class="container-fluid">
	<h1 th:text="${event.eventName}"> </h1>
	<ul>
		<li th:text="|Host: ${user.firstName} ${user.lastName}|"></li>
		<li th:text="|Date: ${event.eventDate}|"></li>
		<li th:text="|Location: ${event.city}, ${event.state}|"></li>
		<li th:text="|People who are attending the event:|"></li>
		
	</ul>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Location</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${events}">
				<td><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></td>
				<td><span th:text="${user.city}"></span> <span th:text="${user.state}"></span></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container-fluid">
	<h3>Message Wall</h3>


	<form action="/events/${event.id}/comment"  method="post">
		<div class="form-group">
			<label for="comment">Add Comment</label>
			<textarea type="text"  placeholder="name"></textarea>
			<button>Submit</button>
		</div>
	</form>
	
</div>